html {
    background-color: #fff;
}

article.post {
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #E6EAEE;
}

a svg {
    margin-right: 5px;
}

.fa-comments:hover{
    color:hsl(217, 71%, 53%);
}

.fa-heart:hover{
    color:hsl(348, 100%, 61%);
}

.fa-retweet:hover{
    color:hsl(141, 71%, 48%);
}

#chatbox{
    display: none;
    background: #efefef;
    position: fixed;
    right: 30px;
    bottom: 50px;
    width: 350px;
    max-width: 85vw;
    max-height: 100vh;
    border-radius: 5px;
    box-shadow: 0px 5px 35px 9px #ccc;
    z-index: 100;
    height: 65%;
}

#chatboxbody{
    position: relative;
    height: 87%;
    overflow: hidden;
    border: 1px solid #ccc;
}

.chat-box-header {
    background: #209cee;
  }